<aside class="h-screen w-[20%] bg-white text-black fixed inset-y-0 left-0">

    <div class="m-[24px] mt-[50px]">

        <div class="flex items-center mb-[58px]">
            <img src=" assets/hotel-black.png" class="size-[44px] object-cover" alt="avatar-img">
            <p class="pl-4 text-[20px] font-bold">HOTEL NG</p>
        </div>
        
        <div>
            <div>
                <ul>
                    <a routerLink="/" routerLinkActive="bg-blue-700 text-white hover:bg-blue-700" [routerLinkActiveOptions]="{exact: true}" class="h-[42px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Início</li>
                    </a>
                    <a routerLink="/reservations"  routerLinkActive="bg-blue-700 text-white hover:bg-blue-700" class="h-[42px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Reservas</li>
                    </a>
                    <a routerLink="/guests"  routerLinkActive="bg-blue-700 text-white hover:bg-blue-700" class="h-[42px] flex items-center rounded-[4px] hover:bg-blue-300">
                        <li class="m-[12px]">Hóspedes</li>
                    </a>
                </ul>
            </div>
        </div>

    </div>

</aside>
