<div class="h-screen flex items-center justify-center text-black">
    <div class="flex flex-col items-center justify-center">
        <div class="flex flex-col items-center">
            <p class="text-[80px]">404</p>
            <p class="text-[40px]">Página não encontrada</p>
        </div>
        <div class="mt-[20px]">

            <app-common-button routerLink="/" buttonClass="bg-blue-600 hover:bg-blue-900 text-white font-bold py-3 px-6">
                <ng-container commonButton>
                    <span>Voltar ao início</span>
                    <img src="/assets/arrow-right.svg" class="ml-[5px] size-[24px]" alt="arrow-right">
                </ng-container>
            </app-common-button>
                
        </div>
    </div>
</div>
  
