<div class="mt-[16px]">
    <div class="relative">
        <img src="assets/hotel-banner.jpg" class="rounded-[6px] h-[40vh] w-full object-cover" alt="banner">
        <div class="absolute top-0 w-full h-[40vh] bg-gradient-to-r from-blue-400 from-20% rounded-[6px]"></div>
    
        <div class="absolute top-0 left-14 h-[40vh] flex flex-col justify-center items-start">
            <div class="text-[40px] font-bold text-white pb-[1%]">
                HOTEL NG
            </div>
            <div class="text-[20px] text-white">
                <p>Bem vindo! ao sistema de reservas do HOTEL NG</p>
            </div>
            <div class="pt-[4%] pb-[1%]">
                <app-common-button routerLink="/reservations" buttonClass="bg-white text-blue-600 hover:bg-blue-900 hover:text-white font-bold py-3 px-5">
                    <ng-container commonButton>
                        <span>Reservas</span>
                    </ng-container>
                </app-common-button>
            </div>
        </div>
    </div>
</div>

